<% layout('layout') -%>
<h2>Profil utilisateur</h2>
<form method="get" action="/profile">
    <div class="container">
        <img src="" alt="Avatar">
        <p>nom de l'utilisateur</p>
    </div>
    <p>Bio user</p>
    <textarea name="bio" placeholder="Entrez votre nouvelle biographie ici..."></textarea>

    <p>Historique des Avatars :</p>
    <img src="" alt="historique avatar" class="avatar" />
</form>